.root {
  background-image: url("../../wallpaper/thumb-1920-1004017.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76%;
  color: #b4b2b0;
}

.h1 {
  font-family: "Marcellus SC";
  color: #897859;
  border-bottom: 3px solid #fff;
}

.form {
  width: unset;
  text-align: left;
  border: 3px solid #0000006e;
  background-color: rgba(0, 0, 0, 0.603);
}

.inputContainer {
  margin-top: 10px;
  display: flex;
}
